.about {
  display: flex;
  justify-content: flex-end;
  padding: 50px 40px;
  padding-top: 200px;
  box-sizing: border-box;
  width: 100vw;
  min-height: 100%;
  align-items: center;
  padding: 0, 40px;
  background: rgba(0, 0, 0, 0.5);
}

.content {
  max-width: 800px;
  text-align: right;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #f7f5f5;
  text-align: right;
}

.about p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #fffdfd;
  text-align: right;
}
